/* Styles go here */

.token {
  height: 0px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}
/*
 body, html ,#app, #app>div {
  /* background-image: url("./site.png"); 
  background-repeat: no-repeat;
  padding: 0;
  text-align: center;
  height: 100%;
  margin: 0;
   padding: 0;
   max-height: 100%;
   overflow: hidden;
  
}
/*

.c {
  overflow: auto;
}




.container {
  display: grid;
  grid-template:"container";
  place-items: center;
  place-content: center;
  overflow: hidden;
  height:100%;
  max-height: clamp(1400px, 50000vh, 1000px);
  grid-template: 0fr;
  padding-top: 0;
  


}

.container > * {
  grid-area: container;
  max-width: 1200px;
  left: 0%;
}


/*
.container .image {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.title {
  place-self: start center;
}

.content, .overlay {
  grid-area: 1 / 1;
}

#allInfo{
  left: 0% ;
  position: absolute;
  display: inline-block;
  height:10% - 10px;
  width:50%;
  border-width: 2px;
  border-color: black;
  background-color: cadetblue;
  top: -20px;
}
*/
.allstuff{
  font-family: "I-pixel-u";  
  border: #9ABC77;
  width: 43%;
  height: 73%;
  padding-top: 4%;
  padding-left: 7%;
  font:  11px;
  opacity: 100%;
  grid-template: 1fr;





 }

 #welcome{
  font-family: "I-pixel-u";  
  border: #9ABC77;
  width: 100%;
  height: 62%;
  padding-top: 0%;  
  padding-left: 0%;
  opacity: 100%;
 }
 #info{
  font-family: "I-pixel-u";  
  width: 100%;
  padding-top: 0%;  
  padding-left: 0%;
  opacity: 100%;
  border-width: 0px;

 }
 #buy{
  font-family: "I-pixel-u";  
  width: 100%;
  padding-bottom: 0%;  
  place-items: bottom;
  align-content: bottom;
  border-width: 0px;


  opacity: 100%;
 }


 #spacerWelcomeTop{
   height: 19%;
 }
 #spacerInfoTop{
  padding-top: 5%;  
}
#spacerBuyTop{
  padding-bottom: 9%;  
  width: 100%;
}

.linko{
  background-color: #4A9DB9;
  color: #000;
  height: 100%;
  font-size: 22.5px;
  background-size: cover;
background-repeat: no-repeat;
margin: 1;
display:  inline
}

a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black  ;
}

.info{
  background-color: rgba(0, 0, 0, 0)  ;
  height: 100%;
  font-size: 21px;
  font-weight: bold;
  background-size: cover;
background-repeat: no-repeat;
margin: 1;
display:  inline
}


#containsLinks{
  text-align: left;
  padding-left: 74%;  
  width: 100%;
  height: 100%;
  padding-top: 0%;  
}
#containsInfo{
  text-align: left;
  padding-left: 32%;  
  width: 100%;
  height: 100%;
  padding-top: 0%;  
}
#containsBuy{
  text-align: left;
  width: 100%;
  height: 100%;
  padding-bottom: 0%;  
  align-items: bottom;
  padding-right: 14%;
  border-width: 10px;
  border-left: yellow;
  padding-left: 23%;
  background-size: contain;
  margin-left: 0;



  

}

 .button{
  background-color: #9ABC77;
  border: #9ABC77;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  place-items: center;
  height: 100%;

  
 }



.qtt{
 background-color: #e1f7c4;
 font-size: xx-large;
 font-weight: bolder;
 text-align: center;
 place-items: center;
 height: 100%;

 
}

input[type="text"], textarea {

  background-color : #e1f7c4; 
  border : solid;
  border-color:   #e1f7c4;

}


 .bor{
  border-width: 10px;
  border-left: yellow;
 }

 input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;

}
 


 @font-face {
  font-family: "I-pixel-u";
  src: local("I pixel u"),
   url("../font.ttf") format("truetype");
  font-weight: bold;
  }
  

  @import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,700;1,300&display=swap");

:root {
  --font-primary: "Helvetica", sans-serif;
  --font-secondary: "Merriweather", serif;
  --space: 0.01rem;
  --space-sm: calc(var(--space) / 2);
  --space-lg: calc(var(--space) * 4);
  align-items: center;
  align-content: center;
}

/* Grid properties */
.box {
  display: grid;
  grid-template:
    [box-start] "tagline actions" [box-end] /
    [box-start] 1fr auto [box-end];
}

.box > *,
.box::before {
  grid-area: box;
}

.tag {
  place-self: start;
}

.title {
  place-self: center;
}

.tagline {
  grid-area: tagline;
  place-self: end start;
}

.actions {
  grid-area: actions;
  place-self: end;
}

/* Box styles */
.box {
  --color: black;
  --bg-color: crimson;

  direction: var(--direction, ltr);
  position: relative;
  overflow: hidden;
  padding: var(--space-sm);
  color: var(--color, white);
  border: none
}

.box::before {
  content: "";
  position: relative;
  background: black;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms ease-out;
}

.box img {
  position: relative;
  inline-size: 100%;
  height: auto;
  z-index: -2;
}

.tag {
  padding: var(--space);
  color: var(--color);
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  background-color: var(--bg-color);
}

.title {
  padding: var(--space);
  font-size: 1.5rem;
  font-family: var(--font-secondary);
  line-height: 1.2;
  text-align: center;
  user-select: none;
}

.title a {
  color: inherit;
  text-decoration: none;
}

.title a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tagline {
  padding: var(--space-sm) var(--space);
  font-family: var(--font-secondary);
  font-size: 0.9rem;
  font-style: italic;
  line-height: 1.2;
  user-select: none;
}

.actions {
  position: relative;
  display: flex;
  padding: var(--space-sm);
  gap: var(--space-sm);
}

.btn {
  display: flex;
  cursor: pointer;
  padding: var(--space);
  font-size: inherit;
  font-family: inherit;
  color: var(--color);
  background-color: var(--bg-color);
  border: none;
}

.button:hover {
  filter: contrast(130%);
}

.btn:active {
  transform: translateY(1px);
}

[data-icon] {
  inline-size: 1em;
  fill: currentcolor;
}

/* Transitions */
.box {
  transition: border-color 200ms ease;
}

.box:hover {
  border-color: transparent;
}

.box .tagline {
  opacity: 0;
}

.box .title,
.box .tagline,
.box::before {
  transition: opacity 200ms ease;
}

.box:hover .title,
.box:hover .tagline,
.box:hover::before {
  opacity: 0;
}

.box:hover .tagline {
  opacity: 0;
}

.img {
  transition: transform 200ms ease-out;
}

.box:hover .button {
  transform: scale(1.04);
}

/* Other styles */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-primary);
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: none;
  margin-inline-end: none;
  place-items: center;
  place-content: center;
  max-inline-size: 1450px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space);
  margin-block-end: 2rem;
  inline-size: 100%;
  text-align: center;
}

select {
  font-size: inherit;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(330px, 100%), 1fr));
  grid-gap: calc(var(--space) * 3);
  padding-block-end: var(--space-lg);
  inline-size: 100%;
}
