/* Styles go here */




html { 
   /* height: 100%; */
   background-color: #ecd5ab;
   /* align-self: center; */
   /* align-self: center; */
   /* align-items: center; */
   /* align-content: end; */
   vertical-align: middle;
   
}

body {
  height: 100%;
  font-family: "I-pixel-u";  
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  align-self: center;


}

#CryptoBurger{
  background: url(../assets/1x/background.png) no-repeat center center;
  background-size: contain;
  background-color: #ecd5ab;
  position: relative;
  width: 100%;
  padding-top: 57.6%;
  height: 0;
  align-self: center;
  align-content: center;


}


#MintingPage{
 
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 9%;
  color: black;
  text-align: center;
  top: 4%;
  /* padding-left: 9%; */
  align-content: center;

 }

#MenuBg{
  /* max-width: 40%; */
  background: url(../assets/1x/menu.png) no-repeat;
  background-size: contain;
  position: relative;
  width: 30%;
  padding-top: 37.6%;

}

 #Menu{ 
    /* float: left; */
    position: absolute;
    top: 13%;
    /* padding-left: 0%; */
    /* top: 0; */
    /* bottom: 0; */
    /* right: 0; */
    /* left: 0; */
    width: 100%;

 }

 #MenuContent{
   position: relative;
   padding-top: 8%;
   padding-left:  0%;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
 }

#ContainsLinks{
  
        /* position: relative; */
        float: left;
        /* text-align: left; */
        padding-left: 87%;
        /* width: 50%; */
        /* top: 1000%; */
        font-size: larger;
        /* font-weight: bold; */
        /* background-size: contain; */
        /* background-repeat: no-repeat; */
        display: inline;
        /* overflow: visible; */

  


}

#LinkoTw{
  float: left;
    /* overflow: hidden; */
    background-color: #4a9db9;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* height: -webkit-min-content; */
    /* height: min-content; */
    width: -webkit-min-content;
    width: min-content;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* display: inline; */
    margin-bottom: 4%;
    text-align: left;
    margin-left: 4%;
    font-size: 1.5vw;

    
    


}

#LinkoTe{
  float: left;
  clear: left;
  /* overflow: hidden; */
  background-color: #4a9db9;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* height: -webkit-min-content; */
  /* height: min-content; */
  width: -webkit-min-content;
  width: min-content;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* display: inline; */
  margin-bottom: 4%;
  text-align: left;
  margin-left: 4%;
  font-size: 1.5vw;

  
  

}

#LinkoDi{
  float: left;
  clear: left;
  /* overflow: hidden; */
  background-color: #4a9db9;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* height: -webkit-min-content; */
  /* height: min-content; */
  width: -webkit-min-content;
  width: min-content;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* display: inline; */
  margin-bottom: 4%;
  text-align: left;
  margin-left: 4%;
  font-size: 1.5vw;


}

a:link {
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline;

}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black  ;
}



#ContainsInfo{
  float: left;
  clear: left;
  /* text-align: right; */
  width: 90%;
  /* height: 100%; */
  padding-top: 50%;
  /* padding-left: 1%; */
  /* height: -webkit-min-content; */
  /* height: min-content; */
  display: grid;
  /* white-space: nowrap; */
  /* padding-right: 10%; */
  /* padding-left: 4%; */
  margin-left: 4%;
  /* margin-right: 5%; */
  font-size: larger;


      



}




#InfoTotalSupply{
  float: left;
  /* clear: left; */
  background-color: rgba(0, 0, 0, 0);
  /* height: 32%; */
  /* font-weight: bold; */
  /* background-size: cover; */
  font-size: 1.5vw;
  /* margin: 0; */
  /* display: inline; */
  /* max-width: 80%; */
  

}


#InfoCurrentSupply{
  float: left;
  clear:left;
    /* position: relative; */
    /* background-color: rgba(0, 0, 0, 0); */
    /* height: 32%; */
    /* padding-top: 1%; */
    /* font-weight: bold; */
    font-size: 1.5vw;
    /* display: inline; */
    /* margin-right: 10%; */
    /* display: inline; */
    /* place-content: center; */
    
    
}


#InfoUnitPrice{
  float: left;
  clear:left;
    /* position: relative; */
    /* background-color: rgba(0, 0, 0, 0); */
    /* height: 32%; */
    /* padding-top: 1%; */
    /* font-weight: bold; */
    font-size: 1.5vw;
    /* display: inline; */
    /* margin-right: 10%; */
    /* display: inline; */
    /* place-content: center; */
    
}
#Pinpin {
  background-image:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='1px' width='1px'><text x='0' y='15' fill='black' font-size='20'>&nbsp.&nbsp</text></svg>");
  background-position: bottom;
  float: left;
}

#TSL{
  float: left;

}

#TSR{
  float: right;

}


#ContainsBuy{

  float: left;
  clear: left;
  /* text-align: left; */
  padding-left: 23%;
  padding-top: 7%;
  /* width: 100%; */
  /* height: 100%; */
  /* height: 100%; */
  font-weight: bold;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* height: -webkit-min-content; */
  /* height: min-content; */
  /* width: -webkit-min-content; */
  /* width: min-content; */
  display: inline;
  font-size: 2.5vw;
  border: none;
  height:100%;

  

}

#ContainsBuy_old{
  text-align: right;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: 10%;  
  align-items: bottom;
  border-left: yellow;
  padding-right: 3%;
  background-size: contain;
  margin-left: 0;
}

 .Button{
  background-color: #9ABC77;
  border: #9ABC77;
  font-size: 2.5 vw;
  font-weight: bolder;
  text-align: center;
  place-items: center;
  height: 100%;
  max-width:100%;
  display: inline;
  float: none;  
 }



.Qtt{
 background-color: #e1f7c4;
 font-size: 2.5 vw;
 font-weight: bolder;
 text-align: center;
 place-items: center;
 height: 100%;
 max-width: 100%;
 display: inline;
 float: none;
 border-color: #e1f7c4;
 padding-top: 0px;
 padding-bottom: 0px;
 border-width: 0.35vw;
 border-style: solid;
 
}

input[type="number"], textarea {

  background-color : #e1f7c4; 
  border-color:   #e1f7c4;
  align-content: right;
  text-align: center;
  font-size: 2.5 vw;
  height: 100%;


}


form {
  display: flex;
  align-items: center; /* Vertical alignment */
}

.tnp-subscription {
  font-size: 13px;
  display: block;
  margin: 15px auto;
  max-width: 500px;
  width: 100%;
}

.tnp-subscription input.tnp-submit {
  background-color: #6acbdc;
  ;
  color: #fff;
  width: auto;
  height: auto;
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1060px;
	
  /* Set up proportionate scaling */
  width: auto;
  height: 100%;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}



@font-face {
  font-family: "I-pixel-u";
  src: local("I pixel u"),
   url("../font.ttf") format("truetype");
  font-weight: bold;
  }

  *, *::before, *::after {
    box-sizing: initial;
}

#MyBurgersPage{
  float: left;
    clear: left;
    /* width: 100%; */
    /* height: 100%; */
    /* z-index: 1; */
    padding-left: 4%;

  
 }


#MyBurgersBg{
  background-size: contain;
  position: relative ;
  width: 100%;  
  height:0;
}

#MyBurgerHeader{
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  font-size: 2vw;

 }
 #BurgerContent{ 
  float: left;
  /* position: absolute; */
  /* padding-top: 3%; */
  /* top: 0; */
  /* bottom: 0; */
  /* right: 0; */
  /* left: 0; */
  /* width: 100%; */

 }

