/* Styles go here */

.token {
  height: 0px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

#Allstuff{
  float: left;
  font-family: "I-pixel-u";  
  width: 36%;
  height: 100%;
  padding-top: 2%;
  padding-left: 2%;
  margin: 2%;
  
 }

 #Menu{
  background: url("../assets/1x/menu.png") no-repeat center center ;
  background-size: contain;
  max-height:100%;
  top:0px;
  padding-bottom: 100%;
  float: none;

 }

#ContainsLinks{
  float: left;
    clear: left;
  text-align: left;
  padding-left: 84%; 
  font-family: "I-pixel-u";   
  width: 100%;
  height: 100%;
  padding-top: 16%;    
  font-size: 130%;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  
  height: min-content;
  width: min-content;
  display: inline;

  


}

#LinkoTw{
  float: left;
  overflow: hidden;
  background-color: #4a9db9;
  background-size: contain;
  background-repeat: no-repeat;
  height: min-content;
  width: min-content;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline;
  padding-left: 4px;


}

#LinkoTe{
  float: left;
  clear: left;
  margin: 4%;
  overflow: hidden;
  background-color: #4A9DB9;
  padding-left: 4px;


}

#LinkoDi{
  float: left;
  clear: left;
  background-color: #4A9DB9;
  border: 0;
  height: min-content;
  width: min-content;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline;
  padding-left: 4px;


}

a:link {
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline;

}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: black  ;
}



#ContainsInfo{
  float: left;
  clear: left;
  text-align: left;
  padding-left: 54%; 
  font-family: "I-pixel-u";   
  width: 100%;
  height: 100%;
  padding-top: 41%;    
  height: 100%;
  font-size: 130%;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  
  height: min-content;
  width: min-content;
  display: inline;

}

#Spacer{
  padding-top: 50%;  
  max-height: 100%;
}



#InfoTotalSupply{
  float: left;
  clear:left;

  background-color: rgba(0, 0, 0, 0)  ;
  height: 33%;
  font-weight: bold;
  background-size: cover;
  font-size: large;

  margin: 0;
  display: inline;
  
}


#InfoCurrentSupply{
  float: left;
  clear:left;
  background-color: rgba(0, 0, 0, 0)  ;
  height: 33%;
  font-weight: bold;
  background-size: cover;
  font-size: large;
  display: inline;


  margin: 0;
  display:  inline;
  place-content: center;
}


#InfoUnitPrice{
  float: left;
  clear: left;
  background-color: rgba(0, 0, 0, 0)  ;
  height: 33%;
  display: inline;
  font-size: large;
  font-weight: bold;
  background-size: cover;
  margin: 0;
}



#ContainsBuy{
  float: left;
  clear: left;
  text-align: left;
  padding-left: 46%; 
  font-family: "I-pixel-u";   
  width: 100%;
  height: 100%;
  padding-top: 5%;    
  height: 100%;
  font-size: 130%;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  
  height: min-content;
  width: min-content;
  display: inline;

}

#ContainsBuy_old{
  text-align: right;
  float: none;
  width: 100%;
  height: 100%;
  padding-top: 10%;  
  align-items: bottom;
  border-width: 10px;
  border-left: yellow;
  padding-right: 3%;
  background-size: contain;
  margin-left: 0;
}

 .Button{
  background-color: #9ABC77;
  border: #9ABC77;
  font-size: xx-large;
  font-weight: bolder;
  text-align: center;
  place-items: center;
  height: 100%;
  max-width:100%;
  display: inline;
  float: none;

  
 }



.Qtt{
 background-color: #e1f7c4;
 font-size: xx-large;
 font-weight: bolder;
 text-align: center;
 place-items: center;
 height: 100%;
 display: inline;
 float: none;



 
}

input[type="text"], textarea {

  background-color : #e1f7c4; 
  border : solid;
  border-color:   #e1f7c4;

}

form {
  display: flex;
  align-items: center; /* Vertical alignment */
}

.tnp-subscription {
  font-size: 13px;
  display: block;
  margin: 15px auto;
  max-width: 500px;
  width: 100%;
}

.tnp-subscription input.tnp-submit {
  background-color: #6acbdc;
  ;
  color: #fff;
  width: auto;
  height: auto;
}


img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1060px;
	
  /* Set up proportionate scaling */
  width: auto;
  height: 100%;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

body {
  position: relative;
  background: url("../assets/1x/background.png") no-repeat center center fixed;
  background-size: contain;
  height: 100%;

}

html {
 
  height: 100%;

}


@font-face {
  font-family: "I-pixel-u";
  src: local("I pixel u"),
   url("../font.ttf") format("truetype");
  font-weight: bold;
  }

  *, *::before, *::after {
    box-sizing: initial;
}